@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
/*575, 767, 991, 1199, 1140*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 99%;
  padding: 15px;
  margin: 0 auto;
}

body {
  transition: all 2s;
  background: url("../img/background/bg.jpg") no-repeat;
  background-size: cover;
}

.main {
  flex: 1 1 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  padding-bottom: 10px;
}
.player .play-prev, .player .play, .player .play-next {
  background: transparent;
}
.player .play-next img, .player .play-prev img {
  width: 32px;
  height: 32px;
  margin-top: 3px;
}
.player .play {
  margin-left: 5px;
  padding-right: 5px;
}
.player .play img {
  width: 40px;
  height: 40px;
}
.player .none {
  display: none;
}
.player .pause {
  background: transparent;
  padding-right: 5px;
  padding-left: 5px;
}
.player .pause img {
  width: 40px;
  height: 40px;
}

.audio-list ul {
  display: inline-block;
}
.audio-list .play-item {
  margin-top: 10px;
  position: relative;
  content: "";
  list-style: none;
  color: #fff;
  opacity: 0.5;
  font-size: 25px;
  padding-left: 25px;
}
.audio-list .play-item:before {
  position: absolute;
  content: "✓";
  top: 0;
  left: 0;
  font-weight: 900;
}
.audio-list .play-item:hover {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}
.audio-list .active {
  opacity: 1;
}
.audio-list .active:before {
  color: #721422;
}

.weather {
  display: flex;
  flex-direction: column;
}
.weather #city {
  width: 170px;
  height: 34px;
  padding: 10px;
  font-size: 30px;
  line-height: 24px;
  color: #721422;
  border-width: 0px 0px 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-bottom-style: solid;
  border-bottom-color: #721422;
  background-color: transparent;
}
.weather #city::placeholder {
  color: #721422;
}
.weather .weather-icon {
  margin-top: 10px;
  font-size: 60px;
  color: white;
  padding-bottom: 10px;
}
.weather i {
  animation: appear 5s linear infinite;
}
.weather .temperature {
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 10px;
  animation: appear 5s linear infinite;
}
.weather .weather-description {
  font-size: 30px;
  color: #fff;
  padding-bottom: 10px;
  animation: appear 5s linear infinite;
}
.weather .humidity, .weather .pressure, .weather .wind {
  padding-bottom: 10px;
  font-size: 30px;
  color: #fff;
  animation: appear 5s linear infinite;
}
@keyframes appear {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    color: #FFFFFF;
    text-shadow: 0 0 7px #FFFFFF, 0 0 10px #FFFFFF, 0 0 21px #FFFFFF, 0 0 42px #f80000, 0 0 82px #f80000, 0 0 92px #f80000;
  }
  100% {
    opacity: 0.5;
  }
}

.main .time {
  padding-bottom: 30px;
  margin: 0 auto;
  font-size: 150px;
  color: #ffffff;
  background: transparent;
  text-align: center;
  opacity: 0.6;
  animation: time 5s infinite;
}
@keyframes time {
  0% {
    color: #f80000;
    text-shadow: 0 0 7px #FFFFFF, 0 0 10px #FFFFFF, 0 0 21px #FFFFFF, 0 0 42px #FFFFFF, 0 0 82px #FFFFFF, 0 0 92px #FFFFFF, 0 0 102px #FFFFFF, 0 0 151px #FFFFFF;
  }
  50% {
    color: #FFFFFF;
    text-shadow: 0 0 7px #FFFFFF, 0 0 10px #FFFFFF, 0 0 21px #FFFFFF, 0 0 42px #f80000, 0 0 82px #f80000, 0 0 92px #f80000, 0 0 102px #f80000, 0 0 151px #f80000;
  }
  100% {
    color: #f80000;
    text-shadow: 0 0 7px #FFFFFF, 0 0 10px #FFFFFF, 0 0 21px #FFFFFF, 0 0 42px #FFFFFF, 0 0 82px #FFFFFF, 0 0 92px #FFFFFF, 0 0 102px #FFFFFF, 0 0 151px #FFFFFF;
  }
}

.calendar {
  margin: 0 auto;
  font-size: 50px;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  padding-bottom: 30px;
}

.greeting {
  text-align: center;
  font-size: 60px;
  color: #fff;
}
.greeting .greeting-text {
  opacity: 0.8;
}
.greeting #name {
  font-family: "Fasthand", cursive;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 60px;
  opacity: 0.8;
  width: 310px;
  background: transparent;
  color: #FFFFFF;
}
.greeting #name::placeholder {
  color: #fff;
}
.greeting .greeting-text {
  margin: 0 auto;
}

.controls {
  transform: translate(0, -60px);
  opacity: 0.4;
  display: flex;
  justify-content: space-between;
  animation: controls 3s ease-in-out infinite;
}
.controls img {
  cursor: pointer;
}
.controls .prev-slide, .controls .next-slide {
  background: transparent;
}
.controls .prev-slide img, .controls .next-slide img {
  width: 35px;
  height: 35px;
}

@keyframes controls {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.footer .links-wrapper {
  font-family: "Fasthand", cursive;
  display: flex;
  justify-content: space-between;
}
.footer .links-wrapper .youtube, .footer .links-wrapper .twitch, .footer .links-wrapper .vk, .footer .links-wrapper .instagram, .footer .links-wrapper .ok, .footer .links-wrapper .twitter, .footer .links-wrapper .google, .footer .links-wrapper .facebook {
  width: 100px;
  height: auto;
}
.footer .links-wrapper .youtube img, .footer .links-wrapper .twitch img, .footer .links-wrapper .vk img, .footer .links-wrapper .instagram img, .footer .links-wrapper .ok img, .footer .links-wrapper .twitter img, .footer .links-wrapper .google img, .footer .links-wrapper .facebook img {
  margin-left: 35px;
  width: 30px;
  height: 30px;
}
.footer .links-wrapper .youtube p, .footer .links-wrapper .twitch p, .footer .links-wrapper .vk p, .footer .links-wrapper .instagram p, .footer .links-wrapper .ok p, .footer .links-wrapper .twitter p, .footer .links-wrapper .google p, .footer .links-wrapper .facebook p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
